{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    {% tailwind_css %}
</head>
<body>
<div class="max-w-3xl mx-auto p-6 bg-white rounded-2xl shadow-md mt-8">

    <!-- Account Header -->
    <h1 class="text-2xl font-bold text-gray-800 mb-4">
        အကောင့်ဝင်ခြင်း
    </h1>

    <div class="space-y-4">
        <form method="post" autocomplete="off">{% csrf_token %}
            <div><label for="username">နာမည်:</label><br>
            <input type="text" name="username" id="username" autocomplete="new-user"></div>
            <div><label for="password">စကားဝှက်:</label><br>
            <input type="password" name="password" id="password" autocomplete="new-password"></div>
            <div><button type="submit">ဝင်မည်</button></div>
            {% if form.non_field_errors %}
                <div style="color: red;">{{ form.non_field_errors }}</div>
            {% endif %}
            <div><a href="{%url 'signup'%}" class=" text-blue-500">အကောင့် မရှိသေးပါ</a></div>
        </form>
    </div>

</div>

</body>
</html>