<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    <form method="post" autocomplete="off">{% csrf_token %}
        <label for="username">Username:</label>
        <input type="text" name="username" id="username">
        <label for="password">Password:</label>
        <input type="text" name="password" id="password">
        <button type="submit">submit</button>
        {% if form.non_field_errors %}
            <div style="color: red;">{{ form.non_field_errors }}</div>
        {% endif %}
    </form>

</body>
</html>