{% load static tailwind_tags%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Epidemic Detail</title>
    {% tailwind_css %}
</head>
<body class="bg-[#8cd98c] font-mono ">
    <div class="w-auto h-screen overflow-auto">
        <div class="flex justify-start">
            <h1 class="text-[#0A400C] w-[30%] pl-[10px] text-[30px] text-left">Managing Chronic Diseases System</h1>
            <div class="flex justify-evenly w-[70%] h-auto text-[#0066cc] text-[15px] pt-[5px]">
                <div><a class=" border-b-[1px] border-white rounded-[1px]" href="{% url 'diagnosis' %}">Diagnosis Test</a></div>
                <div><a class=" border-b-[1px] border-white rounded-[1px]" href="{% url 'epidemic_intro' %}">Manage Chronic Disease</a></div>
                <div><a class=" border-b-[1px] border-white rounded-[1px]" href="{% url 'article_intro' %}">Contribute topic</a></div>
                {% if request.user.is_authenticated %}
                    <div><a class="bg-white  border-2 border-white rounded-[20px] p-[3px]" href="">{{request.user.username}}</a></div>
                    <form method="post" action="{% url 'logout'%}" >{%csrf_token%}<button type="submit">logout</button></form>
                {% else %}
                    <div><a class=" border-b-[1px] border-white rounded-[1px]" href="{% url 'signup' %}">Signup</a></div>
                    <div><a class=" border-b-[1px] border-white rounded-[1px]" href="{% url 'login' %}">Login</a></div>
                {% endif %}
            </div>
        </div>
        
        <div class="w-full h-auto  flex justify-center pb-[30px] mt-[10px]">
            <div class="rounded-[15px] w-[100%] h-auto py-[5px]   flex justify-around">

                <div class="w-[45%] h-auto border-2 border-black rounded-r-[20px]">
                    <div class="text-[25px] text-center my-[10px] text-black ">{{record.name}}</div>
                    <p class=" pt-[10px] px-[20px] mb-[15px] text-[18px] text-justify">{{record.topic|safe}}</p>

                </div>
                <div class="w-auto h-auto border-2 border-black rounded-[20px] px-[20px] pb-[20px]">
                    <p class="text-[25px] text-center my-[10px] text-black">Symptoms</p>

                        <ul class=" mb-[30px] text-black pt-[10px] px-[20px] text-[18px] text-left"  style="list-style-type:disc">
                        {% for symptom in symptoms%}
                            <li>{{symptom}}</li>
                        {% endfor %}
                        </ul>
                        <div class="w-full h-auto ">
                            <a href={% url 'examine_prevention_tip' record.id %}><button class=" block w-[300px] mx-auto h-[100px] border-2 border-black rounded-[20px] ">Check whether avoid disease or not</button></a>
                            <a href={% url 'examine_managing_tip' record.id %}><button class=" block mx-auto w-[300px] h-[100px] border-2 border-black  rounded-[20px] ">Check whether follow the daily tasks</button></a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</body>
</html>