<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Fondation Merix</h1>
    <ol>
        <li><p><a href="{% url 'epidemic_insertion' %}">epidemic_insertion</a> = create epidemic records </p></li>
        <li><p><a href="{% url 'examine_prevention_tip' %}">examine_prevention_tip</a> = examine prevention tip </p></li>
        <li><p><a href="{% url 'examine_managing_tip' %}">examine_managing_tip</a> = examine managing tip </p></li>
        <hr>
        <li><p><a href="{% url 'create_article' %}">create_article</a> = create article records </p></li>
    </ol>

</body>
</html>